<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <div class="container">
    <h2 style="color: black; margin-top: 3rem">
    URLs created
    </h2>
    <br />
    <% urls.forEach(function(url) { %>

    <div class="card" style="background: #024c7e">
      <div class="card-body">
        <h5 class="card-title">
          <a href="/<%=url.code%>" style="color: #eeeeee"><%=url.shorturl%></a>
        </h5>
        <p class="card-text" style="color: #fff">Original URL: <%=url.longurl%></p>
        <p class="card-text" style="color: #fff">Date Created: <%=url.date%></p>
        <p class="card-text" style="color: #fff">clicks: <%=url.clicks%></p>
      </div>
    </div>
    <br />
    <% }); %>
  </div>
  <body></body>
</html>
